<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="input.message">
        <p>{{input.message}}</p>
        <p>{{input.text}}</p>
        <div @click="handelClick">click</div>
    </div>
    <div id="app1">
        <input type="text" v-model="input">
        <p>{{input}}</p>
    </div>
    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                input: {
                    message:12324
                }
            },
            methods:{
                handelClick(){
                    this.$set(this.input,'text','sjk')
                }
            }
        })
        // console.log(vm.input)
    </script>
    <script>
        function query(el) {
            if (typeof el === 'string') {
                return document.querySelector(el);
            }
        }
        let _uid = 0;

        function mergeOptions(parent, child, vm) {
            {
                checkComponents(child)
            }
            if (typeof child === 'function') {
                child = child.options;
            }

        }



        class Vue {
            constructor() {
                this._uid = _uid++;
            }
            _init(options) {
                this._isVue = true;

                if (options && options._isComponent) {

                } else {
                    this.$options = mergeOptions(
                        resolveConstructorOptions(vm.constructor), options || {},
                        this
                    )
                }

                {
                    initProxy(this);
                }

                this._self = this;

                if (this.$options.el) {
                    this.$mount(this.$options.el)
                }
            }
        }

        // let dataDef = {};
        // dataDef.get = function () {
        //     return this._data;
        // }

        // Object.defineProperty(Vue.prototype, '$data', dataDef)

        let vm1 = {
            data:{
                message:'hello'
            },
            methods:{

            }
        }
        // Object.defineProperty(Vue.prototype, '$data', dataDef)

        Object.defineProperty(vm1,'data',{
            get(value){
                // console.log(value)
                // console.log(this)
                // return this.data()
                // console.log(this,'get')
                return this.data
            },
            set(){},
            value:2,
           writable:true,
           configurable:true,
        })

        console.log(vm1,'message')
    </script>
</body>

</html>