.s-skeleton{
     width: 100%;
     height: auto;
    &__list{
        width: 100%;
        height: auto;
        position: relative;
    }
    &__item{
        position: absolute;
        z-index: 1;
        overflow: hidden;
        background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
        background-size: 400% 100%;
        animation: ant-skeleton-loading 1.4s ease infinite;
        animation: s-skeleton-loading 2s linear infinite;
    }
}


@keyframes s-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}