@import "./variables";
@import "./_reset.scss";
body {
    font-family: 'roboto', '微软雅黑', 'microsoft yahei', '新宋体', '宋体', Tahoma, Verdana, Arial, sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: $--font-size-base;
    color: $--color--base;
    background-color: $--background-color-base;
}

h1 {}

h2 {
    font-family: "SF-Pro-Display-Bold";
    font-size: 17px;
    color: #000;
    height: 50px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

h3 {}

h4 {}

h5 {}

h6 {}

.h1 {}

.h2 {}

.h3 {}

.h4 {}

.h5 {}

.h6 {}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}