$-ios-system-red:#ff3b30;
$-ios-system-orange:#ff9500;
$-ios-system-yellow:#ffcc00;
$-ios-system-green:#4cd964;
$-ios-system-teal:#5ac8fa;
$-ios-system-blue:#5ac8fa;
$-ios-system-purple:#5856d6;
$-ios-system-pink:#ff2d55;
$-ios-system-white-color:#fff;
$-ios-system-extra-light-gray-color:#efeff4;
$-ios-system-light-mid-gray-color:#d1d1d6;
$-ios-system-mid-gray-color:#c7c7cc;
$-ios-system-gray-color:#8e8e93;
$-ios-system-black-color:#000;
@import "_mixins.scss";